[Desktop Entry]
Name=StreamLinux
Comment=Stream your Linux screen to Android devices
GenericName=Screen Streaming
Exec=streamlinux-gui
Icon=streamlinux
Terminal=false
Type=Application
Categories=Network;Video;AudioVideo;Utility;
Keywords=stream;screen;share;android;webrtc;
StartupWMClass=streamlinux
StartupNotify=true
